# ===============================
# Application Configuration
# ===============================
NODE_ENV=development
PORT=3000


# ===============================
# Database Configuration
# ===============================
DB_PASSWORD=your_database_password
DATABASE_LOCAL=mongodb://localhost:27017/natours-dummy
DATABASE=mongodb+srv://<DB_USERNAME>:<DB_PASSWORD>@cluster0.a3iknsq.mongodb.net/Natours?appName=Cluster0


# ===============================
# JWT Configuration
# ===============================
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=9d
JWT_COOKIE_EXPIRES_IN=9


# ===============================
# Email (Development - Mailtrap)
# ===============================
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=your_mailtrap_username
EMAIL_PASSWORD=your_mailtrap_password
EMAIL_FROM=your_email@example.com


# ===============================
# Email (Production - SendGrid)
# ===============================
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=your_sendgrid_api_key


RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxxxxxxxxxxxx
